<footer class="footer">
	<small>
		<a href="www.wasatchcode.com"/>Developed by Wasatch Code</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', '#' %></li>
			<li><%= link_to 'Help', help_path %></li>
		</ul>
	</nav>
</footer>